*,
html {
margin: 0;
padding: 0;
}



.countainer-navbar {
    background-color: black;
    width: 100%;
    height: 15vh;
    
}
.ul-navbar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar{  
    list-style-type: none;
    padding: 5px;
    color: white;
    font-size: 30px
}

li.navbar:hover {
background-color: black;
transition: .2s ease-in-out;
transition-delay: .3s;
}

.a-navbar{
    color: white;
    text-decoration: none;
    font-weight: 800px;

}

.countainer-content{
    background-color: rgb(193, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.a-content {
    width: 500px;
    height: 480px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
}
.img-content {
    width: 25%;
    height: 10hv;
    justify-content: right;
    align-items: right;
    border-radius: 80px;
}

.img1-content {
    background-color: white;
    width: 100%;
    height: 10hv;
    justify-content: center;
    align-items: normal;
    border-radius: 80px;
}

.p-content {
    background-color: aliceblue;
}

.countainer-footer {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.hi-footer {
    font-size: 50px;
    
}
